<form method="POST" >
    <div class="row">
        
                <div class="col-sm-3">
                    <input type="hidden" name="ID_Despesa"  />
				    <label >Despesa:</label>
                    <input type="text" name="Despesa" class="form-control"   />                                    
                    
                </div>                                      
                <div class="col-sm-2">
                    <label >Valor:</label>
                    <input type="text" name="Valor" class="form-control"  />                                    
                </div> 
                <div class="col-sm-2">
                    <label >Data de Vencimento:</label>
                    <input type="text" name="DiaVencimento" class="form-control"  />                                    
                </div>                                     
                                    
		        <div class="col-sm-3">
        			<label>Agenda:</label>
                    <select class="form-control" name="Agenda" >
                        <option ></option>                                             
                                      
                                      
                      
                                 <option Value="1">Sim</option>
                                 <option Value="0">Nao</option>
                                 
                    </select>
                   
				</div>
                
                   
                        
                              <div class="col-sm-12 mt-3">
                              <button type="submit" class="btn btn-success">Atualizar</button>
			                     <a href="#" class="btn btn-danger">Cancelar</a>
			                     
                              </div>   
    </div>
</form>

  
