<div class="container">
  <div class="shadow-lg p-3 mb-5 my-4 mr-3 ml-3 bg-white rounded">
  <div class="row">
     
    <div class="col-sm-4" > 
        <h3 > Carteira de Investimento </h3>
    </div>
    <div class="col-sm-8 ">
        <div class="float-right">
            <a href="/novoAtivo" class="btn btn-outline-secondary btn-sm mr-1">
              <fa-icon style="font-size: 18px;" [icon] ="faPlusCircle"></fa-icon> Compra de Novos Ativos
                
            </a>
            <a href="/ativoCadastrado" class="btn btn-outline-secondary btn-sm">
              <fa-icon style="font-size: 18px;" [icon] ="faPlusCircle"></fa-icon> Compra de Ativos Cadastrados
            </a>
        </div>  
     </div>
     
    
  </div>
  <table class="table table-hover">
   
    <tbody >
      <tr *ngFor="let item of listaAtivos" style="width: 300px;">
        <td [ngSwitch]="item.tipoAtivoId" class="text-center">Imagem <br>
          <span class="badge badge-secondary" *ngSwitchCase="1">FII</span>
          <span class="badge badge-warning" *ngSwitchCase="2">B3</span>
          <span class="badge badge-warning" *ngSwitchCase="12">B3</span>
          <span class="badge badge-info" *ngSwitchCase="7">EUA - Ações</span>
          <span class="badge badge-info" *ngSwitchCase="9">EUA - ETF</span>
          <span class="badge badge-info" *ngSwitchCase="11">EUA - REIT</span>
          <span class="badge badge-info" *ngSwitchCase="8">EUA - CRIPTO</span>
          <span class="badge badge-success" *ngSwitchDefault>Renda Fixa</span>
        </td>
        <td  style="width: 600px;"> 
          {{item.nomeAtivo}} <br>
          {{item.nomeAtivoCompleto}} 
        </td>
        <td> Quantidade: {{item.qtdCotas}} <br> Setor: {{item.seguimentoAtivo}}</td>
        <td> <div class="float-right">
          <a href="/evolucaoAtivo/{{item.id}}" class="btn btn-outline-secondary btn-sm mr-3">
            <fa-icon style="font-size: 20px;" [icon] ="faChartLine"></fa-icon>
          </a>
          <a href="/aporteAtivo/{{item.id}}" class="btn btn-outline-success btn-sm mr-3">
            <fa-icon style="font-size: 20px;" [icon] ="faCartPlus"></fa-icon>
          </a>
          <a href="/vendaAtivo/{{item.id}}" class="btn btn-outline-danger btn-sm mr-3">
            <fa-icon style="font-size: 20px;" [icon] ="faRocket"></fa-icon>
          </a>
          <a href="/rendimentoAtivo/{{item.id}}" class="btn btn-outline-info btn-sm mr-3">
            <fa-icon style="font-size: 20px;" [icon] ="faCartArrowDown"></fa-icon>
          </a>
        </div></td>
       
      </tr>
     
      
    </tbody>
  </table>
  <ngb-pagination 
  [collectionSize]="TotalLista"
  (pageChange)="pageChange($event)"
  [maxSize]="5"
  [rotate]="true"
  [ellipses]="false"
  [pageSize]="PageSize"
  [boundaryLinks]="true">
</ngb-pagination>     
   
    
</div>
