<div class="container">
    <div class="shadow p-3 mb-5 my-3 bg-white rounded">
    <div class="row">
        <div class="col-sm-8 my-3" > 
            <h3 >Cadastro de ativos cadastrados</h3>
        </div>
        <div class="col-sm-4 my-3">
            <div class="float-right">
                <a href="/visualizarCarteira" class="btn btn-outline-secondary btn-sm">
                    <fa-icon style="font-size: 18px;" [icon] ="faArrowAltCircleLeft"></fa-icon> Voltar
                </a>
            </div>    
        </div>
    </div>
    <hr>
     <form [formGroup]="form" >
        <div class="row">
           
                <div class="col-sm-3"> 
                    
                        <label >Nome Ativo</label>
                        <select class="form-control form-select" formControlName="ativoId" (change)="selectAtivo($event)"  >
                            <option value="">selecione</option>
                            <option *ngFor="let item of listaAtivoSemParam" [value]="item.id"> {{ item.nomeAtivo }}</option>
                        </select>
                   
                </div>                        
                <div class="col-sm-3"> 
                    <label>Data Compra</label>
                    <input type="date" class="form-control"  formControlName="dtCompra">
                </div>
                <div class="col-sm-3"> 
                    <label>Quantidade de cotas</label>
                    <input type="text" class="form-control"  formControlName="qtdCotas">
                </div>
                <div class="col-sm-3"> 
                    <label>Alvo</label>
                    <input type="text" class="form-control"  formControlName="estimativaVenda">
                </div>
                <div class="col-sm-3"> 
                    <label>Valor da Compra</label>
                    <input type="text" class="form-control"  formControlName="valorCompra">
                </div>
                <div class="col-sm-3"> 
                    <label>Valor da Cota</label>
                    <input type="text" class="form-control"  formControlName="valorCota">
                </div>
                <div class="col-sm-3"> 
                   
                        <label >Corretora</label>
                        <select class="form-control form-select" formControlName="corretora" >
                          <option>Inter</option>
                          <option>Inter-CDB</option>
                          <option>Inter-Tesouro</option>
                          <option>Inter-CC</option>
                          <option>Avenue</option>
                          <option>Rico-Tesouro</option>
                          <option>C6-CDB</option>
                        </select>
                   
                </div>
                <div class="col-sm-3"> 
                   
                        <label >Estratégia</label>
                        <select class="form-control form-select" formControlName="estrategia" >
                          <option>Crescimento</option>
                          <option>Dividendos</option>
                        </select>
                    
                </div>
        </div>
                <div class="my-3"> 
                 <button type="button" class="btn btn-outline-secondary" (click)="salvarDados()"  >Salvar</button>
                </div>
         
       
    </form>
</div>
</div>

